<p>ID: <%= @user.uid %></p>
<p><%= @month_id %>月</p>

<div class="lead months-commit">
  <div class="grath-graph">
    <g class="year">
      <g class="month months-commit month-row month-row-top">
        <% @this_month_commits.each do |commit| %>
          <% if commit.number == 0 %>
            <rect class="day day-row day-blight"></rect>
          <% elsif commit.number == 1 || commit.number == 2 %>
            <rect class="day day-row day-light"></rect>
          <% elsif commit.number >= 3 && commit.number < 7 %>
            <rect class="day day-row day-normal"></rect>
          <% elsif commit.number >= 8 && commit.number < 12 %>
            <rect class="day day-row day-dark"></rect>
          <% elsif commit.number >= 13 %>
            <rect class="day day-row day-deep"></rect>
          <% end %>
        <% end %>
      </g>
    </g>
  </div>
</div>

<p>平均 Commit 数 / <b><%= avarage_commits_number(@user, @month_id) %></b>日</p>
<!--<p>新規 Repository 数 / <b><%#= avarage_repositories_number(@user, @month_id) %></b>月</p>-->
