<div class="lead months">
  <%= render 'months' %>

  <div class="months-commit">
    <% @months.each do |month| %>
      <p class="month-text"><%= month.name %></p>
      <a href="<%= user_month_path(@user, month)  %>">
        <g class="month month-row month-text">
          <% commits = monthly_commits(@user.id, month.id) %>
          <% commits.each do |commit| %>
            <% if commit.number == 0 %>
              <rect class="day day-row day-blight"></rect>
            <% elsif commit.number == 1 || commit.number == 2 %>
              <rect class="day day-row day-light"></rect>
            <% elsif commit.number >= 3 && commit.number < 7 %>
              <rect class="day day-row day-normal"></rect>
            <% elsif commit.number >= 8 && commit.number < 12 %>
              <rect class="day day-row day-dark"></rect>
            <% elsif commit.number >= 13 %>
              <rect class="day day-row day-deep"></rect>
            <% end %>
          <% end %>
        </g>
      </a>
    <% end %>
  </div>
</div>
