<div class="cover">
  <div class="cover-inner">
    <div class="cover-contents">
      <h1>Let's Image The Commit Of GitHub!</h1>
      <a href="" class="btn btn-success btn-lg">Start commit-note</a>
    </div>
  </div>
</div>
