<h1 class="cover-heading">Let's Image The Commit Of GitHub!</h1>

<div class="lead">
    <div class="grath-graph">
      <g class="year">
        <% if logged_in? %>
          <a href="<%= user_months_path(@user) %>">
        <% else %>
          <a href="/login">
        <% end %>
          <g class="month">
            <p class="month-text">Jan</p>
            <g class="week">
              <rect class="day day-light"></rect>
              <rect class="day day-deep"></rect>
              <rect class="day day-normal"></rect>
              <rect class="day day-light"></rect>
              <rect class="day day-dark"></rect>
              <rect class="day day-deep"></rect>
              <rect class="day day-light"></rect>
            </g>
            <g class="week">
              <rect class="day day-deep"></rect>
              <rect class="day day-deep"></rect>
              <rect class="day day-light"></rect>
              <rect class="day day-dark"></rect>
              <rect class="day day-light"></rect>
              <rect class="day day-dark"></rect>
              <rect class="day day-blight"></rect>
            </g>
            <g class="week">
              <rect class="day day-light"></rect>
              <rect class="day day-normal"></rect>
              <rect class="day day-light"></rect>
              <rect class="day day-blight"></rect>
              <rect class="day day-light"></rect>
              <rect class="day day-deep"></rect>
              <rect class="day day-light"></rect>
            </g>
            <g class="week">
              <rect class="day day-normal"></rect>
              <rect class="day day-normal"></rect>
              <rect class="day day-light"></rect>
              <rect class="day day-light"></rect>
              <rect class="day day-light"></rect>
              <rect class="day day-deep"></rect>
              <rect class="day day-light"></rect>
            </g>
          </g>
          <g class="month">
            <p class="month-text">Feb</p>
            <g class="week">
              <rect class="day day-light"></rect>
              <rect class="day day-dark"></rect>
              <rect class="day day-blight"></rect>
              <rect class="day day-light"></rect>
              <rect class="day day-light"></rect>
              <rect class="day day-light"></rect>
              <rect class="day day-light"></rect>
            </g>
            <g class="week">
              <rect class="day day-light"></rect>
              <rect class="day day-deep"></rect>
              <rect class="day day-light"></rect>
              <rect class="day day-deep"></rect>
              <rect class="day day-light"></rect>
              <rect class="day day-deep"></rect>
              <rect class="day day-light"></rect>
            </g>
            <g class="week">
              <rect class="day day-light"></rect>
              <rect class="day day-dark"></rect>
              <rect class="day day-blight"></rect>
              <rect class="day day-light"></rect>
              <rect class="day day-light"></rect>
              <rect class="day day-light"></rect>
              <rect class="day day-light"></rect>
            </g>
            <g class="week">
              <rect class="day day-light"></rect>
              <rect class="day day-light"></rect>
              <rect class="day day-light"></rect>
              <rect class="day day-deep"></rect>
              <rect class="day day-light"></rect>
              <rect class="day day-deep"></rect>
              <rect class="day day-light"></rect>
            </g>
          </g>
          <g class="month">
            <p class="month-text">Mar</p>
            <g class="week">
              <rect class="day day-light"></rect>
              <rect class="day day-light"></rect>
              <rect class="day day-light"></rect>
              <rect class="day day-dark"></rect>
              <rect class="day day-blight"></rect>
              <rect class="day day-light"></rect>
              <rect class="day day-light"></rect>
            </g>
            <g class="week">
              <rect class="day day-blight"></rect>
              <rect class="day day-light"></rect>
              <rect class="day day-light"></rect>
              <rect class="day day-deep"></rect>
              <rect class="day day-light"></rect>
              <rect class="day day-dark"></rect>
              <rect class="day day-light"></rect>
            </g>
            <g class="week">
              <rect class="day day-light"></rect>
              <rect class="day day-light"></rect>
              <rect class="day day-light"></rect>
              <rect class="day day-dark"></rect>
              <rect class="day day-light"></rect>
              <rect class="day day-blight"></rect>
              <rect class="day day-light"></rect>
            </g>
            <g class="week">
              <rect class="day day-light"></rect>
              <rect class="day day-normal"></rect>
              <rect class="day day-light"></rect>
              <rect class="day day-normal"></rect>
              <rect class="day day-blight"></rect>
              <rect class="day day-deep"></rect>
              <rect class="day day-light"></rect>
            </g>
          </g>
          <g class="month">
            <p class="month-text">Apr</p>
            <g class="week">
              <rect class="day day-light"></rect>
              <rect class="day day-dark"></rect>
              <rect class="day day-blight"></rect>
              <rect class="day day-light"></rect>
              <rect class="day day-light"></rect>
              <rect class="day day-light"></rect>
              <rect class="day day-light"></rect>
            </g>
            <g class="week">
              <rect class="day day-light"></rect>
              <rect class="day day-dark"></rect>
              <rect class="day day-blight"></rect>
              <rect class="day day-light"></rect>
              <rect class="day day-light"></rect>
              <rect class="day day-light"></rect>
              <rect class="day day-light"></rect>
            </g>
            <g class="week">
              <rect class="day day-light"></rect>
              <rect class="day day-dark"></rect>
              <rect class="day day-blight"></rect>
              <rect class="day day-light"></rect>
              <rect class="day day-light"></rect>
              <rect class="day day-light"></rect>
              <rect class="day day-light"></rect>
            </g>
            <g class="week">
              <rect class="day day-light"></rect>
              <rect class="day day-light"></rect>
              <rect class="day day-light"></rect>
              <rect class="day day-deep"></rect>
              <rect class="day day-light"></rect>
              <rect class="day day-deep"></rect>
              <rect class="day day-light"></rect>
            </g>
          </g>
          <g class="month">
            <p class="month-text">May</p>
            <g class="week">
              <rect class="day day-normal"></rect>
              <rect class="day day-normal"></rect>
              <rect class="day day-dark"></rect>
              <rect class="day day-deep"></rect>
              <rect class="day day-light"></rect>
              <rect class="day day-blight"></rect>
              <rect class="day day-light"></rect>
            </g>
            <g class="week">
              <rect class="day day-light"></rect>
              <rect class="day day-deep"></rect>
              <rect class="day day-light"></rect>
              <rect class="day day-deep"></rect>
              <rect class="day day-light"></rect>
              <rect class="day day-deep"></rect>
              <rect class="day day-light"></rect>
            </g>
            <g class="week">
              <rect class="day day-light"></rect>
              <rect class="day day-light"></rect>
              <rect class="day day-light"></rect>
              <rect class="day day-deep"></rect>
              <rect class="day day-light"></rect>
              <rect class="day day-deep"></rect>
              <rect class="day day-light"></rect>
            </g>
            <g class="week">
              <rect class="day day-light"></rect>
              <rect class="day day-dark"></rect>
              <rect class="day day-blight"></rect>
              <rect class="day day-light"></rect>
              <rect class="day day-light"></rect>
              <rect class="day day-light"></rect>
              <rect class="day day-light"></rect>
            </g>
          </g>
          <g class="month">
            <p class="month-text">Jun</p>
            <g class="week">
              <rect class="day day-light"></rect>
              <rect class="day day-dark"></rect>
              <rect class="day day-blight"></rect>
              <rect class="day day-light"></rect>
              <rect class="day day-light"></rect>
              <rect class="day day-light"></rect>
              <rect class="day day-light"></rect>
            </g>
            <g class="week">
              <rect class="day day-dark"></rect>
              <rect class="day day-light"></rect>
              <rect class="day day-normal"></rect>
              <rect class="day day-normal"></rect>
              <rect class="day day-light"></rect>
              <rect class="day day-normal"></rect>
              <rect class="day day-light"></rect>
            </g>
            <g class="week">
              <rect class="day day-light"></rect>
              <rect class="day day-dark"></rect>
              <rect class="day day-light"></rect>
              <rect class="day day-light"></rect>
              <rect class="day day-light"></rect>
              <rect class="day day-light"></rect>
              <rect class="day day-light"></rect>
            </g>
            <g class="week">
              <rect class="day day-light"></rect>
              <rect class="day day-light"></rect>
              <rect class="day day-light"></rect>
              <rect class="day day-deep"></rect>
              <rect class="day day-light"></rect>
              <rect class="day day-deep"></rect>
              <rect class="day day-light"></rect>
            </g>
          </g>
          <g class="month">
            <p class="month-text">Jul</p>
            <g class="week">
              <rect class="day day-dark"></rect>
              <rect class="day day-light"></rect>
              <rect class="day day-normal"></rect>
              <rect class="day day-normal"></rect>
              <rect class="day day-light"></rect>
              <rect class="day day-normal"></rect>
              <rect class="day day-light"></rect>
            </g>
            <g class="week">
              <rect class="day day-normal"></rect>
              <rect class="day day-normal"></rect>
              <rect class="day day-dark"></rect>
              <rect class="day day-deep"></rect>
              <rect class="day day-light"></rect>
              <rect class="day day-normal"></rect>
              <rect class="day day-light"></rect>
            </g>
            <g class="week">
              <rect class="day day-light"></rect>
              <rect class="day day-normal"></rect>
              <rect class="day day-light"></rect>
              <rect class="day day-light"></rect>
              <rect class="day day-light"></rect>
              <rect class="day day-deep"></rect>
              <rect class="day day-light"></rect>
            </g>
            <g class="week">
              <rect class="day day-light"></rect>
              <rect class="day day-light"></rect>
              <rect class="day day-normal"></rect>
              <rect class="day day-normal"></rect>
              <rect class="day day-light"></rect>
              <rect class="day day-normal"></rect>
              <rect class="day day-light"></rect>
            </g>
          </g>
          <g class="month">
            <p class="month-text">Aug</p>
            <g class="week">
              <rect class="day day-normal"></rect>
              <rect class="day day-light"></rect>
              <rect class="day day-light"></rect>
              <rect class="day day-deep"></rect>
              <rect class="day day-normal"></rect>
              <rect class="day day-normal"></rect>
              <rect class="day day-light"></rect>
            </g>
            <g class="week">
              <rect class="day day-light"></rect>
              <rect class="day day-deep"></rect>
              <rect class="day day-light"></rect>
              <rect class="day day-deep"></rect>
              <rect class="day day-light"></rect>
              <rect class="day day-deep"></rect>
              <rect class="day day-light"></rect>
            </g>
            <g class="week">
              <rect class="day day-light"></rect>
              <rect class="day day-light"></rect>
              <rect class="day day-normal"></rect>
              <rect class="day day-normal"></rect>
              <rect class="day day-light"></rect>
              <rect class="day day-normal"></rect>
              <rect class="day day-light"></rect>
            </g>
            <g class="week">
              <rect class="day day-normal"></rect>
              <rect class="day day-normal"></rect>
              <rect class="day day-dark"></rect>
              <rect class="day day-deep"></rect>
              <rect class="day day-light"></rect>
              <rect class="day day-blight"></rect>
              <rect class="day day-light"></rect>
            </g>
          </g>
          <g class="month">
            <p class="month-text">Sep</p>
            <g class="week">
              <rect class="day day-light"></rect>
              <rect class="day day-light"></rect>
              <rect class="day day-light"></rect>
              <rect class="day day-dark"></rect>
              <rect class="day day-blight"></rect>
              <rect class="day day-light"></rect>
              <rect class="day day-light"></rect>
            </g>
            <g class="week">
              <rect class="day day-blight"></rect>
              <rect class="day day-light"></rect>
              <rect class="day day-light"></rect>
              <rect class="day day-deep"></rect>
              <rect class="day day-light"></rect>
              <rect class="day day-dark"></rect>
              <rect class="day day-light"></rect>
            </g>
            <g class="week">
              <rect class="day day-light"></rect>
              <rect class="day day-light"></rect>
              <rect class="day day-light"></rect>
              <rect class="day day-dark"></rect>
              <rect class="day day-light"></rect>
              <rect class="day day-blight"></rect>
              <rect class="day day-light"></rect>
            </g>
            <g class="week">
              <rect class="day day-light"></rect>
              <rect class="day day-normal"></rect>
              <rect class="day day-light"></rect>
              <rect class="day day-normal"></rect>
              <rect class="day day-blight"></rect>
              <rect class="day day-deep"></rect>
              <rect class="day day-light"></rect>
            </g>
          </g>
          <g class="month">
            <p class="month-text">Oct</p>
            <g class="week">
              <rect class="day day-light"></rect>
              <rect class="day day-light"></rect>
              <rect class="day day-light"></rect>
              <rect class="day day-dark"></rect>
              <rect class="day day-normal"></rect>
              <rect class="day day-light"></rect>
              <rect class="day day-light"></rect>
            </g>
            <g class="week">
              <rect class="day day-normal"></rect>
              <rect class="day day-light"></rect>
              <rect class="day day-light"></rect>
              <rect class="day day-deep"></rect>
              <rect class="day day-light"></rect>
              <rect class="day day-dark"></rect>
              <rect class="day day-light"></rect>
            </g>
            <g class="week">
              <rect class="day day-light"></rect>
              <rect class="day day-light"></rect>
              <rect class="day day-light"></rect>
              <rect class="day day-dark"></rect>
              <rect class="day day-light"></rect>
              <rect class="day day-normal"></rect>
              <rect class="day day-light"></rect>
            </g>
            <g class="week">
              <rect class="day day-light"></rect>
              <rect class="day day-normal"></rect>
              <rect class="day day-light"></rect>
              <rect class="day day-normal"></rect>
              <rect class="day day-normal"></rect>
              <rect class="day day-deep"></rect>
              <rect class="day day-light"></rect>
            </g>
          </g>
        </a>
      </g>
    </div>
  </div>

<p class="lead start-btn">
  <% if logged_in? %>
    <%= link_to 'Go!', user_months_path(@user), class: 'btn btn-lg btn-success' %>
  <% else %>
    <%= link_to 'Start', login_path, class: 'btn btn-lg btn-success' %>
  <% end %>
</p>
